---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<td
  class:list={[
    "px-2 py-[10px] text-12 leading-[14px] tracking-0.1 md:py-4 md:px-6 border-t border-[#676983] md:text-2xl md:leading-[34px] text-text-grey",
    className,
  ]}
>
  <slot />
</td>
