---
import NavigationHeader from "@components/NavigationHeader/NavigationHeader.astro";
import TypographyTitle from "@components/TypographyTitle/TypographyTitle.astro";
import Button from "@components/Button/Button.astro";

import firstContentImage from "@assets/header-first-image.png";
import secondContentImage from "@assets/header-second-image.png";
import headerBg from "@assets/header-bg.png";
---

<header
  id="header"
  style=`background: url(${headerBg.src}) 0 0 / cover no-repeat;`
>
  <div
    class="p-4 md:px-10 md:py-5 min-h-screen cs-1440:px-14 my-0 mx-auto max-w-cw-1440"
  >
    <NavigationHeader class="mb-[95px] cs-1440:mb-[150px]" />
    <section
      class="flex flex-col cs-1440:flex-row items-center text-center gap-12 cs-1440:items-start cs-1440:text-left"
    >
      <div class="flex-grow basis-2/4 flex-shrink">
        <TypographyTitle class="mb-5 md:mb-8">
          Unlock the Secrets of <br /> Your Stars with AstroVibe
        </TypographyTitle>

        <p
          class="mb-10 text-14 leading-24 tracking-0.1 text-text-grey md:text-2xl md:mb-12"
        >
          Your Daily Compass for Love, Career, and Personal Growth
        </p>
        <div class="flex flex-col gap-5 cs-1440:flex-row">
          <Button variant="Google Play" />
          <Button variant="App Store" />
        </div>
      </div>
      <div
        class="items-center flex relative justify-center flex-grow basis-2/4 flex-shrink"
      >
        <img
          src={firstContentImage.src}
          alt="iPhone 14 Pro Space"
          class="relative w-[162px] h-[328px] left-[45px] md:w-full md:h-full"
        />
        <img
          src={secondContentImage.src}
          alt="iPhone 15 Pro"
          class="relative w-[162px] h-[328px] left-[-45px] md:w-full md:h-full"
        />
      </div>
    </section>
  </div>
</header>
