---
const FOOTER_LINKS = [
  {
    href: "/privacy-policy",
    label: "Privacy Policy",
  },
  {
    href: "/",
    label: "Terms of Service",
  },
  {
    href: "/",
    label: "Contact Us",
  },
];
---

<footer id="footer">
  <nav class="bg-benefits-bg">
    <ul
      class="flex flex-col py-[70px] items-center justify-center gap-6 md:flex-row"
    >
      {
        FOOTER_LINKS.map((link) => (
          <li>
            <a href={link.href} class="text-text-grey text-14">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
